.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  color: #1A1B1C;
}

.about__header {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
}
.about__header-span {
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
}

.about__p1 {
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
}

.about__sample {
  margin-top: 35px;
  height: auto;
  width: 100%;
}

.about__p2 {
  margin-top: 35px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
