.about {
  height: 100vh;
  background-color: #1A1B1C;
  display: flex;
  align-items: center;
}

.about__content-wrapper {
  display: flex;
  flex-direction: row;
}

.about__intro {
  margin-left: 15rem;
}

.about__header {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  width: 34.375rem;
  line-height: 5rem;
}

.about__subheader {
  color: white;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.about__divider {
  margin-left: 16.25rem;
}

.about__point-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.125rem;
}

.about__point-icon {
  width: 0.875rem;
  height: 0.875rem;
  background-color: white;
  border-radius: 100%;
  margin-right: 1.25rem;
}

.about__point-title {
  color: white;
  font-weight: 700;
  font-size: 1.375rem;
}

.about__point-desc {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  width: 37.5rem;
  margin-top: 1.125rem;
  padding-left: 2.25rem;
}

@media (max-width: 600px) {

  .about__intro {
    margin-left: 2rem;
  }

  .about__header {
    font-size: 2rem;
    max-width: 300px;
    line-height: normal;
  }

  .about__subheader {
    font-size: 1rem;
  }

  .about__content-wrapper {
    flex-direction: column;
  }
  
  .about__divider {
    margin-left: 2rem;
  }

  .about__point-icon {
    width: 0.625rem;
    height: 0.625rem;
  }

  .about__point-title {
    font-size: 0.85rem;
  }

  .about__point-desc {
    font-size: 0.75rem;
    max-width: 300px;
  }

}