.about {
  height: 100vh;
  background-color: #1A1B1C;
  display: flex;
  align-items: center;
  padding: 10%;
}

.about__content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
}

.divider {
  width: 20%;
  height: 3px;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 10%;
}

.about__intro {
  width: 50%;
}

.about__header {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  max-lines: 2;
}

.about__subheader {
  color: white;
  font-size: 1.375rem;
  font-weight: 500;
}

.about__divider {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.about__point-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.125rem;
}

.about__point-wrapper:first-child {
  margin-top: 0;
}

.about__point-icon {
  width: 0.875rem;
  height: 0.875rem;
  background-color: white;
  border-radius: 100%;
  margin-right: 1.25rem;
}

.about__point-title {
  color: white;
  font-weight: 700;
  font-size: 1.375rem;
}

.about__point-desc {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  max-width: 100%;
  margin-top: 1.125rem;
  padding-left: 2.25rem;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 160%;
}

@media (max-width: 1000px) {
  .about__content-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .about__header {
    width: 200%;
  }
  .about__subheader {
    width: 200%;
    margin-bottom: 20%;
  }
}

@media (max-width: 768px) {

  .about__content-wrapper {
    flex-direction: column;
  }
  .about__header {
    font-size: 3rem;
    line-height: 120%;
  }

  .about__subheader {
    font-size: 1.25rem;
    margin-bottom: 10%;
  }

  .about__point-title {
    font-size: 2rem;
  }

  .about__point-desc {
    width: 100%;
    font-size: 1.15rem;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .about__header {
    font-size: 2.125rem;
    line-height: 100%;
  }

  .about__subheader {
    font-size: 1.25rem;
  }

  .about__point-title {
    font-size: 1.15rem;
  }

  .about__point-desc {
    font-size: 1rem;
  }
}