.contact {
  width: 100%;
  height: 50vh;
  margin-left: 160px;
  margin-top: 100px;
}

.contact__header {
  font-size: 128px;
  font-weight: 700;
  margin-bottom: 100px;
}

.contact__subheader {
  font-size: 48px;
  font-weight: 400;
  max-width: 750px;
}

.contact-row {
  display: flex;
}

.contact-column {
  margin-left: 200px;
}

.contact__info-header {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.contact__info-details {
  font-size: 20px;
}