.contact {
  background-color: #1A1B1C;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.contact__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.contact__header-title {
  font-size: 30px;
  font-weight: 700;
}

.contact__header-socials {
  position: absolute;
  right: 0;
  padding-top: 6px;
}

.contact__header-socials a img {
  width: 24px;
  height: 24px;
}

.divider {
  margin-top: 14px;
  height: 0.5px;
  width: 100%;
  background-color: white;
}

.contact__description {
  margin-top: 32px;
  font-size: 13px;
  width: 240px;
}

.contact__email {
  margin-top: 18px;
  font-size: 13px;
}

.privacy-policy {
  margin-top: 90px;
  color: white;
  font-size: 10px;
  align-self: center;
}

.trademark {
  margin-top: 4px;
  font-size: 10px;
  align-self: center; 
}

@media (min-width: 1000px) {
  .contact {
    padding-left: 28%;
    padding-right: 28%;
  }
}