.faq {
  height: 100vh;
  padding: 10% 10%;
  background-color: #1A1B1C;
  color: white;
}

.faq__header {
  font-size: 8rem;
  font-weight: 700;
}

.faq__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10% 20%;
  margin-top: 5%;
  padding-left: 20%;
}

.faq__question {
  font-size: 1.375rem;
  font-weight: 700;
}

.faq__answer {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 18px;
  width: 130%;
}

@media (max-width: 1000px) {
  .faq__header {
    font-size: 4rem;
  }

  .faq__list {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
    width: 80%;
  }

  .faq__question {
    font-size: 1.375rem;
  }
}


  @media (max-width: 768px) {
  .faq__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
  }

  .faq__header {
    font-size: 5rem;
  }

  .faq__question {
    font-size: 1.25rem;
  }

  .faq__answer {
    width: 100%;
    font-size: 1rem;
  }

}

@media (max-width: 600px) {

  .faq {
    height: 100%;
  }

  .faq__header {
    font-size: 3rem;
  }

  .faq__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .faq__question {
    font-size: 1.125rem;
  }

  .faq__answer {
    font-size: 1rem;
    width: 130%;
  }

}