.faq {
  height: 100vh;
  margin-left: 160px;
  padding-top: 130px;
}

.faq__header {
  font-size: 128px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.faq__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  margin-left: 400px;
  margin-top: 10s0px;
}

.faq__question {
  font-size: 22px;
  font-weight: 700;
}

.faq__answer {
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  width: 575px;
}

@media (max-width: 600px) {

  .faq {
    margin-left: 0;
    padding-top: 20px;
  }

  .faq__header {
    font-size: 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .faq__list {
    margin-left: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .faq__question {
    font-size: 0.825rem;
  }

  .faq__answer {
    font-size: 0.725rem;
    max-width: 300px;
  }
}
