.faq {
  height: 100vh;
  padding: 10% 10%;
  background-color: #1A1B1C;
  color: white;
}

.faq__header {
  font-size: 128px;
  font-weight: 700;
}

.faq__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  margin-top: 10%;
}

.faq__question {
  font-size: 2.125rem;
  font-weight: 700;
}

.faq__answer {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 18px;
  width: 100%;
}

@media (max-width: 1000px) {
  .faq__header {
    font-size: 4rem;
  }

  .faq__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .faq__question {
    font-size: 1.75rem;
  }
}


@media (min-width: 768px) and (max-width: 960px) {
  .faq__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .faq__header {
    font-size: 6rem;
  }
}

@media (max-width: 600px) {

  .faq__header {
    font-size: 4rem;
  }

  .faq__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .faq__question {
    font-size: 1.15rem;
  }

  .faq__answer {
    font-size: 1rem;
    width: 100%;
  }

}