.features {
  padding: 10% 10%;
  height: 100vh;
}

.features__header {
  font-size: 8rem;
}

.features__subheader {
  font-weight: 600;
}

@media (max-width: 768px) {

  .features__header {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {

  .features__header {
    font-size: 4rem;
  }
  .features__subheader {
    font-size: 1.125rem;
  }
}