.features {
  margin-left: 10rem;
  margin-top: 10rem;
  height: 100vh;
}
.features__header {
  font-size: 128px;
}

@media (max-width: 600px) {
  .features {
    margin-left: 2rem;
  }
  .features__header {
    font-size: 2rem;
  }
}