.features {
  padding: 10% 10%;
  height: 100vh;
}

.features__header {
  font-size: 128px;
}

.features__subheader {
  font-weight: 600;
}

@media (max-width: 768px) {
  .features {
    margin-left: 5%;
  }
  .features__header {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .features {
    margin-left: 5%;
  }
  .features__header {
    font-size: 2rem;
  }
}