.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.features__header {
  font-size: 80px;
  font-weight: 700;
  color: #1A1B1C ;
}

.features__backdrop {
  margin-top: 62px;
  height: 100%;
  width: 340px;
  align-self: flex-end;
}

.features__mock {
  padding-left: 20px;
  top: 126px;
  position: absolute;
  height: auto;
  width: 230px;
}

.features__list {
  margin-top: 80px;
  width: 300px;
}

.features__list-title {
  font-size: 13px;
  font-weight: 700;
  color: #1A1B1C;
}

.features__list-description {
  padding-top: 8px;
  font-size: 13px;
  color: #1A1B1C;
}