.features {
  padding: 10% 10%;
  height: 100%;
}

.features__header {
  font-size: 8rem;
}

.features__subheader {
  font-weight: 600;
}

.features__image {
  height: auto;
  width: 100%;
  margin-bottom: 10%;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.features__list-item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.625rem;
}


