.features {
  padding: 10% 10%;
  height: 100%;
}

.features__header {
  font-size: 8rem;
}

.features__subheader {
  font-weight: 600;
}

.features__container {
  position: relative;
  display: inline-block;
}

.features__image {
  height: auto;
  margin-bottom: 10%;
  display: block;
  width: 100%;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.features__list-item {
  padding: 0.625rem;
}

.features__list-item.active {
  border: 1px solid black;
  border-radius: 10px;
}

.invis-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
}

.invis-button:nth-of-type(1) {
  bottom: 13%;
  left: 22%;
}
.invis-button:nth-of-type(2) {
  bottom: 13%;
  left: 42%;
}
.invis-button:nth-of-type(3) {
  bottom: 13%;
  left: 62%;
}
.invis-button:nth-of-type(4) {
  bottom: 28%;
  left: 66%;
}

@media (min-width: 768px) {
  .features__image {
    max-width: 25rem;
  }
}