.home {
  height: calc(100vh - 6rem);
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__logo {
  height: auto;
  width: 10rem;
}

.home__subheader {
  font-size: 2.25rem;
  margin-top: 0.75rem;
  font-weight: 500;
}

.home__status {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.375rem;
}

.home__status-icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: red;
}

.home__waitlist-header {
  font-size: 1.25rem;
  margin-top: 6.25rem;
  font-weight: 300;
}
.home__waitlist-input {
  width: 25rem;
  height: 2.5rem;
  font-size: 0.875rem;
  padding-left: 1rem;
  margin-top: 1.25rem;
  border: 1px solid #C7C7C7;
  border-radius: 0.625rem;
}

.home__waitlist-button {
  width: 6.25rem;
  height: 2.5rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.625rem;
  margin-left: 0.625rem;
  font-size: 0.8125rem;
}

.home__signup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.home__signup-count {
  font-size: 0.875rem;
  color: #3C3C3C;
}

@media (max-width: 768px) {
  .home {
    margin-left: 10%;
  }
  .home__logo {
    height: auto;
    width: 30%;
  }

  .home__subheader {
    font-size: 160%;
  }

  .home__status {
    font-size: 70%;
  }

  .home__waitlist-header {
    font-size: 100%;
  }

  .home__waitlist-input {
    width: 18rem;
  }

  .home__signup-count {
    font-size: 70%;
  }

}
@media (max-width: 600px) {
  .home {
    margin-left: 1rem;
  }

  .home__waitlist-input {
    width: 65%;
    font-size: 0.7rem;
  }

  .home__waitlist-button {
    width: 25%;
    font-size: 0.7rem;
  }
}