.home__header {
  font-size: 4rem;
  font-weight: 800;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  width: 17rem;
}

.slide-text {
  display: inline-block;
  white-space: nowrap;
  animation: slideRight 3.5s ease-in-out infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(25%);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .home__header {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .home__header {
    font-size: 6rem;
  }
}