.home__header {
  font-size: 8rem;
  margin-top: 2.125rem;
  font-weight: 800;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

}
@media (max-width: 768px) {
  .home__header {
    font-size: 6rem;
  }
}
@media (max-width: 600px) {
  .home__header {
    font-size: 4rem;
  }
}
.slide-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.slide-text {
  display: inline-block;
  white-space: nowrap;
  animation: slideRight 3.5s ease-in-out infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(30%);
    opacity: 0;
  }
}
