.nav {
  position: relative;
  height: 36px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 14px;
  z-index: 9999;
}

.nav__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 18px;
  bottom: 14px;
  width: 16px;
  height: 13px;
  border: none;
  background: none;
  top: 40%;
}

.nav__menu-bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.nav__menu.active .nav__menu-bar:nth-child(1) {
  transform: translateY(5px);
}

.nav__menu.active .nav__menu-bar:nth-child(2) {
  opacity: 0;
}

.nav__menu.active .nav__menu-bar:nth-child(3) {
  transform: translateY(-5px);
}

.nav__header {
  font-size: 15px;
  font-weight: 600;
}

.nav__sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 51px;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 200px;
  padding: 12px 0;
  transform: translateY(-30px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.nav__sidemenu.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav__sidemenu-link {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  width: 100%;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav__sidemenu.active .nav__sidemenu-link {
  opacity: 1;
  transform: translateY(0);
}

.nav__sidemenu.active .nav__sidemenu-link:not(:first-child) {
  border-top: 1px solid #E0E0E0;
  width: 76%;
  max-width: 800px;
  margin: 0 auto;
}

.nav__sidemenu.active .nav__sidemenu-link:nth-child(1) {
  transition-delay: 0.35s;
}

.nav__sidemenu.active .nav__sidemenu-link:nth-child(2) {
  transition-delay: 0.45s;
}

.nav__sidemenu.active .nav__sidemenu-link:nth-child(3) {
  transition-delay: 0.55s;
}

.nav__sidemenu.active .nav__sidemenu-link:nth-child(4) {
  transition-delay: 0.65s;
}
