.navbar {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1B1C;
  padding: 2rem 8vw;
  box-sizing: border-box;
}

.navbar__title {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.navbar__links {
  display: flex;
  gap: 4rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Hide hamburger menu on desktop */
.navbar__toggle {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    height: 6rem;
  }

  .navbar__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .bar {
    width: 1.8rem;
    height: 0.15rem;
    background-color: white;
  }

  .navbar__links {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background-color: #1A1B1C;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .navbar__links.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
  }

  .navbar__title.inactive {
    color: #1A1B1C;
  }
}
@media (max-width: 480px) {
  
}
